body {
    height: 100vh;
    width: 55vw;
    margin: auto; /* centers our body tag with a hard width of 55% of viewport */
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
}

header, footer {
    height: 5vh;
    background-color: #1F2937;
    padding: 10px 50px;
    color: #F9FAF8;
    flex: 1;
    font-size: small;
}

.nav-link {
    padding: 10px;
    color: inherit;
}

/* --- Flexbox content components --- */

.content-column {
    flex: 1;
    background-color: white;
    display: flex;
}

.content-column > div {
    width: 100%;
    text-align: start;
    padding: 50px;
}

#fc1 {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: small;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
}

#fc2 {
    color: black;
    flex-direction: column;
    font-size: small;
}

#blueboxes {
    display: flex; /* defaults to row*/
    margin-bottom: 40px;
    margin-top: -30px;
    justify-content: space-around;
    
}

.bluebox {
    min-height: 100px;
    min-width: 100px;
    flex: 3;
    border: 2px solid #3882f6;
    border-radius: 15px;
    margin: 0 20px;
}

.bluebox + div {
    flex: 1;
    text-align: center;

}

#fc3 {
    background-color: #e5e7eb;
}

.attribution {
    margin-top: -110px;
}

.cta {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
}

.cta p {
    font-size: small;
}